bokeh==0.12.16
certifi==2017.11.5
chardet==3.0.4
defusedxml==0.5.0
Django==2.0.2
django-allauth==0.34.0
django-embed-video==1.1.2
django-markdownx==2.0.22
django-materializecss-form==1.0.1
google-api-python-client==1.6.5
gunicorn==19.7.1
httplib2==0.10.3
idna==2.6
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
numpy==1.14.3
oauth2client==4.1.2
oauthlib==2.0.6
olefile==0.44
packaging==17.1
pandas==0.21.1
patsy==0.5.0
pdfkit==0.6.1
Pillow==5.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pyparsing==2.2.0
python-dateutil==2.7.3
python3-openid==3.1.0
pytz==2018.3
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
scipy==1.0.0
six==1.11.0
sorl-thumbnail==12.4.1
squareconnect==2.5.1
statsmodels==0.8.0
stripe==1.78.0
tornado==5.0.2
uritemplate==3.0.0
urllib3==1.22
utm==0.4.2
