{% extends 'dkht/base.html' %}
{% load static %}
{% load bokeh %}

{% load embed_video_tags %}

{% block head %}
    {{ block.super }}
    {% bokeh_css %}
{% endblock head %}

{% block content %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/post_markdown.js' %}"></script>

    <div id="background-image">
        <div class="container">
            <div class="row">
                {% if bk_script %}
                  <div class="col s12">
                    {{ bk_script|safe }}
                  </div>
                {% else %}
                  <div class="col s12">
                    <h4>No bokeh script passed</h4>
                  </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    {% bokeh_js %}
{% endblock javascripts %}
