{% extends 'dkht/base.html' %}
{% load static %}
{% block content %}


{{ block.super }}
<div id="index-banner" class="parallax-container hide-on-small-only">

  <div class="section no-pad-bot">
    <div class="container">
    </div>
  </div>

  <div class="parallax">
    <img src="{% static 'images/intake.jpg' %}" alt="Unsplashed background img 1">
  </div>

</div>

<div id="background-image">
    <div class="container-fluid">
      <br>
          <div class="row valign-wrapper">

              <div class="col s3 m2 l2 push-l1">
                  <div class="img-logo">
                      <img src="{% static 'images/dkhydrotech1.3.1.svg' %}" class="shadow responsive-img">
                  </div>
              </div>

              <div class="col s7 m4 pull-m3 pull-l2">
                  <h4 class="light-green-text text-darken-3">DK Hydrotech</h4>
                  <ul class="contact-list grey-text text-darken-4">
                      <li>Data Analysis</li>
                      <li>Hydrotechnical Engineering</li>
                      <li>Fullstack Development</li>                      
                      <li>dan@dkhydrotech.com</li>
                      <li>Vancouver, BC</li>
                  </ul>
              </div>

          </div>

          <div class="row">
            <div class="col s12 m10 push-m1">
              <h2 class="light-green-text text-darken-3">Hydrotechnical Engineering</h2>
              <blockquote class="flow-text light-green-text text-darken-2">
                Engineering Consulting in water resources, value engineering.
              </blockquote>
              <p class="flow-text grey-text text-darken-1">
                A registered professional mechanical engineer in British Columbia with ten years
                experience in hydropower, mining, and water resource management.
                In both owner's and contractor's engineer roles, I've worked on brownfield
                and greenfield hydropower developments and technical services for BC Hydro, 
                Brookfield Renewable Energy Partners, and Innergex Renewable Energy Inc.,
                among others. My work experience includes technical engineering design (structural 
                concrete, steel, and wood for hydraulic structures), quantitative modelling, 
                independent engineering review of hydropower facility performance,
                hydrological analysis, value engineering, financial analysis, technical report writing, 
                and management (project management, quality assurance, field supervision).  As an
                independent contractor, I offer consulting services related to my
                experience.
                </thead>
              </p>
                <div class="chip light-green lighten-3 grey-text text-darken-3">Hydraulics</div>
                <div class="chip light-green lighten-3 grey-text text-darken-3">Value Engineering</div>
                <div class="chip light-green lighten-3 grey-text text-darken-3">Hydrology</div>
                <div class="chip light-green lighten-3 grey-text text-darken-3">Climatology</div>
                <div class="chip light-green lighten-3 grey-text text-darken-3">Technical Writing</div>
            </div>
        </div>

        
        <br>
    </div>
</div>

<div id="index-banner" class="parallax-container hide-on-small-only">
  <div class="section no-pad-bot">
    <div class="container">

    </div>
  </div>
  <div class="parallax">
    <img src="{% static 'images/data_viz.jpg' %}" alt="Unsplashed background img 1">
  </div>
</div>
<br>

<div class="row">
  <div class="col s12">

    <!-- <img src="{% static 'images/sub-zero_water.JPG' %}" class="responsive"> -->
  </div>
  <div class="col s12 m10 push-m1">
    <h2 class="light-green-text text-darken-3">Data Analysis</h2>
    <blockquote class="flow-text light-green-text text-darken-2">
      Data Analysis for Systems Optimization and Performance Evaluation
    </blockquote>
    <p class="flow-text grey-text text-darken-1">
      Just like construction and manufacturing operations systems, technical analysis is 
      a system that can be optimized.  Take analytical products and services further 
      by leveraging automation in routine analytical processes.  Use interactive applications
      to convey technical concepts intuitively to a broader audience.  As mechanical engineer
      with a passion for computer programming, I seek out creating value with efficiency.  
      As a current PhD student in hydrotechnical engineering (2018-), I'm interested in 
      the role of uncertainty and risk in the analysis forming the basis of decisions
      on the use of natural resources, with a focus on fresh water resources.
    </p>
      <div class="chip light-green lighten-3 grey-text text-darken-3">Statistical Modelling</div>
      <div class="chip light-green lighten-3 grey-text text-darken-3">Stochastic Simulation</div>
      <div class="chip light-green lighten-3 grey-text text-darken-3">Data Acquisition</div>
      <div class="chip light-green lighten-3 grey-text text-darken-3">Automated Report Generation</div>
      <div class="chip light-green lighten-3 grey-text text-darken-3">Interactive Data Visualization</div>
      <div class="chip light-green lighten-3 grey-text text-darken-3">CPU / GPU Computing</div>
  </div>
</div>

<div id="index-banner" class="parallax-container hide-on-small-only">
  <div class="section no-pad-bot">
    <div class="container">

    </div>
  </div>
  <div class="parallax">
    <img src="{% static 'images/riverbend_comp.jpg' %}" alt="Yukon Territory">
  </div>
</div>

{% endblock content %}
