<html>
<head>
<title>DK Hydrotech Consulting</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="nqwoxxJkTpYT7tj8m4VUHORzkmkst1oEc1zDJp2W3jk" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
</head>
<body>
    <!-- SVG background pattern obtained from https://philiprogers.com/svgpatterns/  -->
    <svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'>
        <rect width='100' height='100' fill='#154360'/>
        <g fill='#34495E'>
        <rect width='100' height='1' y='20'/>
        <rect width='100' height='1' y='40'/>
        <rect width='100' height='1' y='60'/>
        <rect width='100' height='1' y='80'/>
        <rect width='1' height='100' x='20'/>
        <rect width='1' height='100' x='40'/>
        <rect width='1' height='100' x='60'/>
        <rect width='1' height='100' x='80'/>
        </g>
        <rect width='100' height='100' fill='none' stroke-width='1' stroke='#566573'/>
    </svg>
    <!-- End SVG background  -->
    <section class="container-fluid">
        <div class="row">
            <div class="col-xs-2 col-sm-4"></div>
            <div class="col-xs-8 col-sm-4 main-logo">
                <div class="img-logo">
                    <img src="images/dkhydrotech1.3.1.svg" class="shadow">
                </div>
            </div>
            <div class="col-xs-2 col-sm-4"></div>
        </div>>
        <div class="row">
            <div class="col-xs-1 col-sm-3"></div>
            <div class="col-xs-10 col-sm-6 text-center">
                <h2>DK Hydrotech</h2>
                <ul class="contact-list">
                    <li>dan@dkhydrotech.com</li>
                    <li>
                        <nav id="contact">
                            <a href="https://www.linkedin.com/profile/view?id=229666884&amp;trk=nav_responsive_tab_profile" class="brandico-linkedin-rect"></a>
                            <a href="https://github.com/dankovacek" class="brandico-github"></a>
                        </nav>
                    </li>
                </ul>
            </div>
            <div class="col-xs-1 col-sm-3"></div>
        </div>
    </section>

    <div id="code">
        [base64]
    </div>

    <script>
        // Encode an SVG element as a base64 data uri.
        function svgToBase64Image(svgElement) {
          var div = document.createElement('div');
          div.appendChild(svgElement.cloneNode(true));
          var b64 = window.btoa(div.innerHTML);
          return 'data:image/svg+xml;base64,' + b64;
        }
        var svgs = document.getElementsByTagName('svg');
        var urls = [];
        for (var i = 0; i < svgs.length; i++)
          urls.push('url("' + svgToBase64Image(svgs[i]) + '")');
        var url = urls.join(',');
        var msg = 'Base64 CSS image (for cross-browser support):' +
                  '<br><br>background: ' + url + ';';
        document.getElementById('code').innerHTML = msg;
        document.body.style.background = url;
    </script>
    <link async rel="stylesheet" href="css/bootstrap.css">
    <link async rel="stylesheet" href="css/styles.css">
    <!--<script async src="js/all.js"></script>-->
    <link async rel="stylesheet" href="http://weloveiconfonts.com/api/?family=zocial">
</body>
</html>
