bokeh==0.12.14
certifi==2017.11.5
chardet==3.0.4
defusedxml==0.5.0
Django==2.0
django-allauth==0.34.0
django-embed-video==1.1.2
django-markdownx==2.0.21
django-materializecss-form==1.0.1
gunicorn==19.7.1
idna==2.6
Jinja2==2.10
Markdown==2.6.10
MarkupSafe==1.0
numpy==1.14.0
oauthlib==2.0.6
olefile==0.44
packaging==16.8
pandas==0.21.1
patsy==0.5.0
Pillow==4.3.0
pyparsing==2.2.0
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2017.3
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
scipy==1.0.0
six==1.11.0
sorl-thumbnail==12.4.1
statsmodels==0.8.0
tornado==4.5.3
urllib3==1.22
utm==0.4.2
